.react-root {
  display: grid;
  grid-template-columns: 1.5fr 6fr 1.5fr;
  grid-template-rows: 1fr 600px 1fr;
  grid-template-areas: 
  "app-name . credits"
  ". view ."
  ". util ."
}
.view {
  grid-area: view;
  position: relative;
}