.react-root {
  width: auto;
  position: fixed;
  display: grid;
  grid-template-columns: 1.5fr 6fr 1.5fr;
  grid-template-rows: 1fr 600px 1fr;
  grid-template-areas:
  "app-name . credits"
  ". view ."
  ". util ."
}

.credits {
  grid-area: credits;
}

.menu-bar {
  grid-area: util;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
}

.button-bar {
  position: relative;
  bottom: 75px;
}
